<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>ログイン</title>
</head>
<body>
	<header>
		<h1>休.com</h1>
	</header>
	<h2>ログイン</h2>
		<div class="login">
		<div class="form1">
 	
			<ul th:if="${errors}" class="error">
		    <li th:each="error : ${errors}" th:text="${error}"></li> 
		</ul>
		

    <form action="/login" method="post">
            <input type="text" name="email" placeholder="メールアドレス"><br>
            <input type="password" name="password" placeholder="パスワード"><br>
            <button>ログイン</button>
    </form>
     <p>アカウントをお持ちではありませんか？</p>
	<a href='/user/add';>ユーザー新規登録</a><br/><br/>
	</div>
	</div>
</body>
</html>


