body {
	font-family: sans-serif;
	background: #f9f9f9;
	margin: 0;
	padding: 0;
}

main {
	padding: 2em;
	max-width: 800px;
	margin: auto;
}

h2 {
	text-align: center;
	color: #0066cc;
}



.month-selector {
	text-align: center;
	margin-top: 1em;
}

.month-selector button {
	padding: 0.5em 1em;
	margin: 0 0.5em;
	background: #0066cc;
	color: white;
	border: none;
	border-radius: 5px;
	cursor: pointer;
}

table {
	width: 100%;
	border-collapse: collapse;
	margin-top: 2em;
}

th,
td {
	width: 14.28%;
	text-align: center;
/*	padding: 0.5em;*/
}

button.date-btn {
	width: 100%;
	padding: 1em;
	background: #ffffff;
	border: 1px solid #ccc;
/*	border-radius: 5px;*/
	cursor: pointer;
}

button.date-btn:hover:not(:disabled) {
	background-color: #e6f0ff;
}

button.date-btn:disabled {
	background-color: #eee;
	color: #aaa;
	cursor: not-allowed;
}

.selected {
	background-color: #0066cc !important;
	color: white;
}

.holiday {
	background-color: #ffdddd;
	color: #c00;
}

.saturday {
	color: #00f;
}

.sunday {
	color: #c00;
}

.confirm-area {
	margin-top: -5%;
	text-align: center;
}

.confirm-area button {
	padding: 0.7em 1.5em;
	background: #0066cc;
	color: white;
	border: none;
	border-radius: 5px;
	cursor: pointer;
}

.logo {
	display: flex;
	position: absolute;
	top: 1%;
	left: 1%;
	z-index: 50;
}

.flex{
	display: flex;
}

.container {
	max-width: 450px;
	margin: auto;
	padding: 20px;
	background-color: #fff;
	border-radius: 5px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

	display: flex;
	flex-direction: column;
	align-items: center;
	/* 내부 요소를 가로 중앙 정렬 */
}

h2{
	margin-top:-30px;
}
