@charset "UTF-8";


.star-rating {
	direction: rtl;
	display: inline-flex;
	font-size: 2rem;
	cursor: pointer;
}

.star-rating input {
	display: none;
}

.star-rating label {
	color: #ccc;
}

.star-rating input:checked~label,
.star-rating label:hover,
.star-rating label:hover~label {
	color: gold;
}