@charset "UTF-8";


.star-rating2 {
	direction: rtl;
	display: inline-flex;
	font-size: 2rem;
	cursor: pointer;
}

.star-rating2 input {
	display: none;
}

.star-rating2 label {
	color: #ccc;
}

.star-rating2 input:checked~label,
.star-rating2 label:hover,
.star-rating2 label:hover~label {
	color: gold;
}