<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>会員情報変更</title>
	<link rel="stylesheet" type="text/css" href="/css/admin_edit.css">
</head>

<body>

	<div class="login-container">
		<div class="form-group">
			<h2 style="text-align: center;">宿情報変更</h2>
			<ul class="image">
				<li><img class="mypage-image"
						th:if="${hotels.image != null and !#strings.isEmpty(hotels.image) and hotels.image != 'null'}"
						th:src="@{${hotels.image}}" alt="プロフィール画像"></li><!--
							
			-->
				<li><img class="mypage-image"
						th:if="${hotels.image2 != null and !#strings.isEmpty(hotels.image2) and hotels.image2 != 'null'}"
						th:src="@{${hotels.image2}}" alt="プロフィール画像"></li><!--
							
			-->
				<li><img class="mypage-image"
						th:if="${hotels.image3 != null and !#strings.isEmpty(hotels.image3) and hotels.image3 != 'null'}"
						th:src="@{${hotels.image3}}" alt="プロフィール画像"></li>

			</ul>

			<form th:action="@{/admin/edit/hotels/{id}(id=${hotels.id})}" class="edit-form" method="post"
				enctype="multipart/form-data">
				地方：
				<fieldset class="radio-1">
					<label>
						<input type="radio" name="areaId" value="1" 		
						th:checked="${hotels.areaId == 1}" />
						東北
					</label>
					<label>
						<input type="radio" name="areaId" value="2"
						th:checked="${hotels.areaId == 2}" />
						関東
					</label>
					<label>
						<input type="radio" name="areaId" value="3" 
						th:checked="${hotels.areaId == 3}" />
						中部
					</label>
					<label>
						<input type="radio" name="areaId" value="4" 
						th:checked="${hotels.areaId == 4}" />
						近畿
					</label>
					<label>
						<input type="radio" name="areaId" value="5" 
						th:checked="${hotels.areaId == 5}" />
						中国
					</label>
					<label>
						<input type="radio" name="areaId" value="6" 
						th:checked="${hotels.areaId == 6}" />
						四国
					</label>
					<label>
						<input type="radio" name="areaId" value="7" 
						th:checked="${hotels.areaId == 7}" />
						九州
					</label>
				</fieldset>
				宿名：<input type="text" name="name" th:value="${hotels.name}" placeholder="宿名">
				住所：<input type="text" name="address" th:value="${hotels.address}" placeholder="住所">
				宿泊人数：<input type="text" name="capacity" th:value="${hotels.capacity}" placeholder="宿泊人数">
				料金：<input type="text" name="price" th:value="${hotels.price}" placeholder="料金">
				詳細(400文字まで入力可能)：
				<textarea th:text="${hotels.detail}" name="detail" class="textarea" rows="9" cols="93"
					maxlength=400></textarea><br>

				画像（３枚まで）<br>
				一枚目：
				<input name="file" type="file" id="img" class="poi" th:value="${imageUrl}">
				二枚目：
				<input name="file2" type="file" id="img2" class="poi" th:value="${imageUrl2}">
				三枚目：
				<input name="file3" type="file" id="img3" class="poi" th:value="${imageUrl3}">

				<input type="hidden" name="imgname" value="">
				<input type="hidden" name="imgname2" value="">
				<input type="hidden" name="imgname3" value="">
				<button class="button-37">送信</button>


				<ul th:if="${errors}" class="error">
					<li th:each="error : ${errors}" th:text="${error}" class="error"></li>
				</ul>
			</form>
			<div>
				<a href="/home">宿一覧へ</a>
			</div>
		</div>
		<script>

		</script>
</body>

</html>