<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<link rel="stylesheet" type="text/css" href="/css/matsumoto.css">
	<meta charset="UTF-8">
	<title>予約完了</title>
</head>

<body>
	<header th:replace="header2"></header><br><br>
	<h3 class="completed-h3">宿の予約が完了しました</h3><br>
	<div class="login-container">
		<div class="flex">
			<img th:src="${hotels.image}" class="completed-img" alt="ホテル画像">
			<div class="hello">
				<div th:text="${hotels.name}" class="completed-hotelname"></div>
				<div th:text="${hotels.address}" class="completed-sub"></div><br>
				<div th:text="宿泊人数： + ${hotels.capacity} + 人" class="completed-sub"></div>
				<div th:text="値段： + ${hotels.price} + 円" class="completed-sub"></div>
				<span th:text="日時： + ${reservation.date}" class="completed-sub"></span>
			</div>
		</div>
	</div>

	<br><br>
	<div class="completed-commentt">ご利用ありがとうございます</div>
	<br>
	<form action="/hotels" method="get">
		<button class="button-1">OK</button>
	</form>
</body>

</html>