<header id="header">
	<a href="/items" class="logo"><img src="/image/logo.png" width="19.5%"></a>
	<div class="keyp">

		<div class="key">
			<form class="key1"><input input type="text" name="keyword" th:value="${keyword}" placeholder="キーワードを入力"
					class="poi2">
				<button class="poi3">検索</button>
			</form>
			<form action="/login" method="get">
				<button class="key2"><span th:if="${account.name == null}"></span></button>
				<span th:if="${account.name != null}" th:text="${account.name}+さんがログイン中"></span>
			</form>
			<form action="samplel.cgi" method="post" class="key4">
				<select size="1" name="language">
					<option value="Japanese">日本語</option>
					<option value="English">English</option>
					<option value="Chinese">中文</option>
					<option value="Korean">한국어</option>
					<option value="Rosian">Русский</option>
				</select>
			</form>
			<div class="hmhm">
				<div id="hmb">
					<span></span>
					<span></span>
					<span></span>
				</div>
				<nav>
					<ul>
						<li><a href="/ozisan">TOP</a></li>
						<li><a href="/logout" onclick="return confirm('ログアウトしますか？')">LOGOUT</a></li>
						<li><a href="">SERVICE</a></li>
					</ul>
				</nav>
			</div>
		</div>
	</div>
</header>