<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>宿予約履歴</title>
	<link rel="stylesheet" type="text/css" href="/css/tachiki.css">
</head>

<body>
	<header th:replace="header3">
	</header>

	<h2 class="history-title">
	<a>[[${@account.name}]]さんのご予約履歴</a><br>
	</h2>
	<main class="history-main1">


		<div th:each="hotels:${hotel}">
			<div class="flex">
				<img th:src="${hotels.image}" height="120px" width="200px" class="history-image" alt="ホテル画像">
				<div class="flex2">
					<div th:text="宿泊施設名：+${hotels.name}" class="history-hotelName">
					</div>
					<div th:each="reservation:${reservations}">
						<span th:if="${hotels.id} == ${reservation.hotelId}">
							<div>
								<div th:text="宿泊日：+${reservation.date}">
								</div>
						</span>
					</div>
					<div th:text="宿泊人数：+${hotels.capacity}+人"></div>
					<div th:text="値段：+${hotels.price}+円">
					</div>
				</div>
			</div>
		</div>
	</main>
	<div style="text-align: center;">
		<a href="/mypage">マイページへ</a>
	</div>
</body>

</html>