<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>休.com</title>
	<link rel="stylesheet" type="text/css" href="/css/Aikawa.css">

	<!-- Google Fonts 読み込み -->
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link
		href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&family=Zen+Kaku+Gothic+New:wght@400;500;700&display=swap"
		rel="stylesheet">
</head>

<body>
	<header th:replace="header">
	</header>
	<main>
		<div class="relative">
			<img src="image/1-10.png" width="100%" class="imgth">
			<div class="boxer">
				<form>

					<div class="selectbox-3">
						<select size="1" name="area">
							<option value="">エリア</option>
							<option value="1">東北地方</option>
							<option value="2">関東地方</option>
							<option value="3">中部地方</option>
							<option value="4">近畿地方</option>
							<option value="5">中国地方</option>
							<option value="6">四国地方</option>
							<option value="7">九州地方</option>
						</select>
					</div>
					<div class="selectbox-3">
						<select size="1" name="capacity">
							<option value="">宿泊人数</option>
							<option value="1">1人</option>
							<option value="2">2人</option>
							<option value="3">3人</option>
							<option value="4">4人</option>
							<option value="5">5人</option>
						</select>
					</div>
					<div class="search-form-3">
						<label>
							<input type="text" name="keyword" placeholder="キーワードを入力">
						</label>
					</div>
					<button class="button-1">検索</button>

					<fieldset class="radio-1">
						<label>
							<input type="radio" name="price" value="" checked />上限なし
						</label>
						<label>
							<input type="radio" name="price" value="9000" />9000円以下
						</label>
						<label>
							<input type="radio" name="price" value="10000" />10000円以下
						</label>
						<label>
							<input type="radio" name="price" value="14000" />14000円以下
						</label>
					</fieldset>
				</form>
			</div>
		</div>
		<div class="blank"></div>
		<!--ログ表示-->
		<h2 class="midashi">最近見た宿</h2>
		<div class="containers">
			<ul class="carousel">
				<li th:each="hotel : ${@log.getHotels()}" class="carousel-item"><a
						th:href="@{/hotelsdetail/{id}(id=${hotel.id})}">
						<div class="div4">
							<img th:src="${hotel.image}" height="170px" width="100%" alt="ホテル画像">
							<div class="popo">
								<h3 th:text="${hotel.name}"></h3>
								<div th:text="${hotel.address}"></div>
							</div>
							<div class="popo2">
								<div th:text="${hotel.capacity} + '名 税込　'"></div>
								<h3 th:text="${hotel.price} + '円'"></h3>
							</div>
							<!--							<div th:text="${hotel.capacity}"></div>-->
						</div>
					</a>
			</ul>
		</div>

		<style>
			.carousel {
				/* ... */

				scroll-marker-group: after;

				&::scroll-marker-group {
					/* マーカーグループのスタイル　*/
				}
			}
		</style>



		<!--		<div class="log2">-->
		<!--			<div class="log5"></div>-->
		<!--			<div class="log3"><a th:href="@{/hotelsdetail/{id}(id=${hotels.id})}" th:value="${hotels.id}"-->
		<!--					th:each="hotels:${@log.getHotels()}">-->
		<!--					<div class="log4"><img th:src="${hotels.image}" width="100%"></div>-->
		<!--				</a>-->
		<!--			</div>-->
		<!--			<div class="log5"></div>-->
		<!--		</div>-->
		<!--おすすめのやど-->
		<br><br>

		<h2 class="midashi">おすすめの宿</h2>
		<div class="recommend">
			<div class="recommend2">
				<a href="">
					<img src="/image/1-11.jpg" width="100%">
				</a>
			</div>
			<div class="recommend2">
				<a href="">
					<img src="/image/1-13.jpg" width="100%">
				</a>
			</div>

		</div>
		<!--		<div class="recommend">-->
		<!--			<div class="recommend2">-->
		<!--				<div th:each="hotel : ${hotels}">-->
		<!--					<a th:href="@{/hotelsdetail/{id}(id=${hotel.id})}">-->
		<!--						<div class="div4">-->
		<!--							<img th:src="${hotel.image}" height="170px" width="100%" alt="ホテル画像">-->
		<!--							<div class="popo">-->
		<!--								<h3 th:text="${hotel.name}"></h3>-->
		<!--								<div th:text="${hotel.address}"></div>-->
		<!--							</div>-->
		<!--							<div class="popo2">-->
		<!--								<div th:text="${hotel.capacity} + '名 税込　'"></div>-->
		<!--								<h3 th:text="${hotel.price} + '円'"></h3>-->
		<!--							</div>-->
		<!--														<div th:text="${hotel.capacity}"></div>-->
		<!--						</div>-->
		<!--					</a>-->
		<!--				</div>-->
		<!--			</div>-->
		<!--		</div>-->
		<br><br>
		<h2 class="midashi">今すぐ予約</h2>

		<div class="aa">


			<!--			<div class="bb">-->
			<!--				<form><input type="text" name="keyword" th:value="${keyword}" placeholder="検索"><br>-->
			<!--					<input type="radio" name="price" value="">上限なし-->
			<!--					<input type="radio" name="price" value="9000">9000円以下-->
			<!--					<input type="radio" name="price" value="10000">10000円以下-->
			<!--					<input type="radio" name="price" value="14000">14000円以下-->
			<!--					<br>金額で絞り込む-->
			<!--					<input type="radio" name="capacity" value="">上限なし-->
			<!--					<input type="radio" name="capacity" value="1">1人-->
			<!--					<input type="radio" name="capacity" value="2">2人-->
			<!--					<input type="radio" name="capacity" value="3">3人-->
			<!--					<form>-->
			<!--						<br><button>検索</button>-->
			<!--					</form>-->
			<!--					<a href="/hotels">全商品</a>-->
			<!--					<a th:each="area : ${areas}" th:href="@{/hotels(areaId=${area.id})}" th:text="${area.name}"-->
			<!--						style="margin-right: 5px;"></a><br>-->
			<!--					地域を選ぶ<br>-->

			<!--			</div>-->

			<div class="row">
				<div class="col" th:each="hotel : ${hotels}">
					<a th:href="@{/hotelsdetail/{id}(id=${hotel.id})}">
						<div class="div4">
							<img th:src="${hotel.image}" height="170px" width="100%" alt="ホテル画像">
							<div class="popo">
								<h3 th:text="${hotel.name}"></h3>
								<div th:text="${hotel.address}"></div>
							</div>
							<div class="popo2">
								<div th:text="${hotel.capacity} + '名 税込　'"></div>
								<h3 th:text="${hotel.price} + '円'"></h3>
							</div>
							<!--							<div th:text="${hotel.capacity}"></div>-->
						</div>
					</a>
				</div>
			</div>
		</div>
		<ol class="pagination-3">
			<!-- 前へボタン -->
			<li class="prev" th:if="${page.hasPrevious()}">
				<a
					th:href="@{/hotels(page=${page.number - 1}, categoryId=${categoryId}, keyword=${keyword}, maxPrice=${maxPrice})}">&lt;</a>
			</li>

			<!-- ページ番号 -->
			<li th:each="i : ${#numbers.sequence(0, page.totalPages - 1)}"
				th:classappend="${i == page.number} ? 'current'">
				<a th:href="@{/hotels(page=${i}, categoryId=${categoryId}, keyword=${keyword}, maxPrice=${maxPrice})}"
					th:text="${i + 1}">1</a>
			</li>

			<!-- 次へボタン -->
			<li class="next" th:if="${page.hasNext()}">
				<a
					th:href="@{/hotels(page=${page.number + 1}, categoryId=${categoryId}, keyword=${keyword}, maxPrice=${maxPrice})}">&gt;</a>
			</li>
		</ol>
		<div class="footer1">
			<footer th:replace="footer">
			</footer>
		</div>


	</main>

</body>

</html>