<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>kani'shop</title>
	<link rel="stylesheet" type="text/css" href="/css/style.css">

	 Google Fonts 読み込み 
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link
		href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&family=Zen+Kaku+Gothic+New:wght@400;500;700&display=swap"
		rel="stylesheet">


</head>

<body>
	
	<hr>
	<h4>日本全国の農家による、とれたてオンラインマーケット</h4>
	<p th:text="${imgname}"></p>
	<div class="banner">
		<ul class="top-banner">

			<li><a href="/ozisan" class="banner1"><img src="/css/10.jpg"></a></li>
			<li><a href="" class="banner2"><img src="/css/11.png"></a></li>
		</ul>
	</div>
	ログ表示
	<h6 class="log">最近見た商品</h6>

	<div class="log2">
		<div class="log5"></div>
		<div class="log3"><a th:href="@{/itemdetail/{Id}(id=${item.id})}" th:value="${item.id}"
				th:each="item:${@log.getItems()}">
				<div class="log4"><img th:src="${item.img}" width="100%"></div>
			</a>
		</div>
		<div class="log5"></div>
	</div>

	<div class="aa">
		<div class="bb">
			<form><input type="text" name="keyword" th:value="${keyword}" placeholder="検索"><br>
				<input type="number" name="maxPrice" th:value="${maxPrice}" placeholder="上限金額">
				<br><button>検索</button>
			</form>
			<a href="/items">全商品</a>
			<a th:each="category:${categories}" th:href="@{/items(categoryId=${category.id})}"
				th:text="${category.name}" style="margin-right: 5px;"></a><br>
			カテゴリーを選ぶ<br>
			<a href="/goodList" style="padding-left: 10px;">欲しいものリストを見る</a><br>
			<a href="/cart" style="padding-left: 10px;">カートを見る</a><br>
			<a href="/ask"><img src="/css/13.jpeg" width="100%"></a><br><br>
			<img src="/css/14.jpeg" width="100%">
		</div>
		<div class="cc">

			<main>
								<p th:each="hotel:${hotels}" th:text="${hotel.name}" ></p>
				<div class="section">
					<div class="row">
						<a th:href="@{/itemdetail/{Id}(id=${item.id})}" th:value="${item.id}" class="col"
							th:each="item:${items}">
							<div class="div4">
								<img th:src="${item.img}" height="140px" alt="">
								<h3 th:text="${item.name}"></h3>
								<div th:text="${item.price}+円"></div>
								<img src="/css/6051 (1).png" width="10%" alt="">
							</div>
							<div class="div3">
								<form action="/addGood" method="get">
									<input type="hidden" name="itemId" th:value="${item.id}">
									<br>

									<button>欲しいものリストに追加</button>
								</form>
								<form action="/cart/add" method="post">
									<input type="hidden" name="itemId" th:value="${item.id}">
									<button>カートに追加</button>
								</form>
								</p>
							</div>
						</a>
					</div>
					 ページネーションリンク 
					<div>
						<span th:if="${page.hasPrevious()}">
							<a
								th:href="@{/items(page=${page.number - 1}, categoryId=${categoryId}, keyword=${keyword}, maxPrice=${maxPrice})}">前へ</a>
						</span>

						<span th:each="i : ${#numbers.sequence(0, page.totalPages - 1)}">
							<a th:href="@{/items(page=${i}, categoryId=${categoryId}, keyword=${keyword}, maxPrice=${maxPrice})}"
								th:text="${i + 1}" th:classappend="${i == page.number} ? 'active'">1</a>
						</span>

						<span th:if="${page.hasNext()}">
							<a
								th:href="@{/items(page=${page.number + 1}, categoryId=${categoryId}, keyword=${keyword}, maxPrice=${maxPrice})}">次へ</a>
						</span>
					</div>
				</div>
			</main>

		</div>
	</div>

	<hr>
	<footer th:replace="footer"></footer>

	JavaScript
	<script>
		const hmbBtn = document.getElementById("hmb");
		const header = document.getElementById("header");

		hmbBtn.addEventListener("click", function () {
			header.classList.toggle("active");
		});
	</script>
</body>

</html>