<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>ログイン</title>
<link rel="stylesheet" type="text/css" href="/css/Jung.css">
</head>
<body>
    <span th:replace="header2">
	</span>
		<div class="login-container">
		<div class="form-group">

			<h2>ログイン</h2>
		

    <form class="login_text" action="/login" method="post">
            <input type="text" name="email" th:value="${email}" placeholder="メールアドレス"><br>
            <input type="password" name="password" placeholder="パスワード"><br>
            <button class="login_button">ログイン</button>
    </form>
	<ul th:if="${errors}" class="error">
			    <li th:each="error : ${errors}" th:text="${error}"></li> 
			</ul>
     <p>アカウントをお持ちではありませんか？</p>
	<a href='/user/add';>ユーザー新規登録</a><br/><br/>
	</div>
	</div>
</body>
</html>


