<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>マイページ画面</title>
<link rel="stylesheet" type="text/css" href="/css/tachiki.css">
</head>
<body>
	<h1>休.com</h1>
	<h1 class="mypage-title">マイページ</h1>
	<form th:action="@{/mypage/edit}" method="get">
		<span class="mypage-name">[[${@account.name}]]さん</span>
		<button class="mypage-button">プロフィールを編集する</button>
		<img src="profile.jpg">
	</form>
	<div style="text-align: center;">
	  <a href="/yado/history">ご予約の確認はこちらから</a>
	</div>
	</form>
</body>
</html>