<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>Add commentMore actions
<meta charset="UTF-8">
<title>ログイン</title>
</head>
<body>
	<header>
		<h1>休.com</h1>
	</header>
	<h2>宿予約内容確認</h2>
	<span th:text="${hotels.name}"></span>
    <span th:text="${hotels.address}"></span>
<!--    <span th:text="${date}"></span><br>-->

    <h2>クレジットカード情報・変更・登録</h2>
    <table>
        <tr><th>クレジットカード番号</th><td></td></tr>
        <tr><th>セキュリティ番号</th><td></td></tr>
        <tr><th>有効期限</th><td></td></tr>
    </table>

    <button>戻る</button><br>
    <button>予約確定</button>
</body>
</html>