<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>宿詳細ページ</title>
	<link rel="stylesheet" type="text/css" href="/css/Aikawa.css">
	<link rel="stylesheet" type="text/css" href="/css/review.css">
	<link rel="stylesheet" type="text/css" href="/css/admin_show.css">

	<!-- Google Fonts 読み込み -->
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link
		href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&family=Zen+Kaku+Gothic+New:wght@400;500;700&display=swap"
		rel="stylesheet">
	<script>
			function check(){

			if(window.confirm('削除してもよろしいですか？')){
				return true; 
			}
			else{
				window.alert('キャンセルされました'); // 警告ダイアログを表示
			return false; // 送信を中止
			}

		}
	</script>
</head>

<body>
	<h1>宿情報変更</h1>
	<a href="/home">管理者ホームへ</a>
	<hr><br>
	<span class="align">
		<img th:src="${hotels.image}" class="img">
		<div class="imgYoko">
			<img th:src="${hotels.image2}" class="imgMini"><br>
			<img th:src="${hotels.image3}" class="imgMini2">
		</div>
	</span><br>
	<table align="center">
		<tr>
			<th>名前</th>
			<td th:text="${hotels.name}"></td>
		</tr>
		<tr>
			<th>住所</th>
			<td th:text="${hotels.address}"></td>
		</tr>
		<tr>
			<th>値段</th>
			<td th:text="${hotels.price}+円"></td>
		</tr>
		<tr>
			<th>人数</th>
			<td th:text="${hotels.capacity}+人"></td>
		</tr>
		<tr>
			<th>コメント</th>
			<td th:utext="${#strings.replace(hotels.detail, '\n', '<br/>')}"></td>
		</tr>
	</table>

	<div class="btnFlex">
		<form th:action="@{/admin/edit/{id}(id=${hotels.id})}" method="post" class="editForm">
			<button>宿情報を変更する</button>
		</form>
		<form th:action="@{/admin/delete/{id}(id=${hotels.id})}" method="post" name="dltForm" onsubmit="return check()">
			<button class="deleteForm" name="btn">削除する</button>
		</form>
	</div>

	<hr>
	<div class="im2">

		<div class="box-015">
			<span th:text="${hotels.name}+'に投稿された評価、感想'"></span>
		</div>

		<!-- グレー背景＋余白つき -->
		<div class="reviews-wrapper">
			<!-- 1レビューごとに白いボックス -->
			<div class="box-017" th:each="review : ${reviews}">
				<div th:switch="${review.star}">
					<div th:case="1" class="star-color3">
						<div class="star-color">★</div>
						<div class="star-color2">★★★★</div>
						<div class="star-color">　1</div>
					</div>
					<div th:case="2" class="star-color3">
						<div class="star-color">★★</div>
						<div class="star-color2">★★★</div>
						<div class="star-color">　2</div>
					</div>
					<div th:case="3" class="star-color3">
						<div class="star-color">★★★</div>
						<div class="star-color2">★★</div>
						<div class="star-color">　3</div>
					</div>
					<div th:case="4" class="star-color3">
						<div class="star-color">★★★★</div>
						<div class="star-color2">★</div>
						<div class="star-color">　4</div>
					</div>
					<div th:case="5" class="star-color3">
						<div class="star-color">★★★★★</div>
						<div class="star-color">　5</div>
					</div>
				</div>
				<span th:text="${review.comment}"></span>
				</div>
				</div>
	</div>
</body>

</html>