<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>新規登録</title>
<link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
	<header>
		<h1>休.com</h1>
	</header>
	
		<div class="login-container">
		<div class="form-group">
		<h2>新規登録</h2>
		
			</ul>
		
		<form action="/user/add" method="post">
			<input class="login_text" type="text" name="name" placeholder="名前"><br>
			<input class="login_text" type="email" name="email" placeholder="メールアドレス"><br>
			<input class="login_text" type="text" name="address" placeholder="住所"><br>
			<input class="login_text" type="text" name="tel" placeholder="電話番号" maxlength="11" oninput="this.value=this.value.replace(/[^0-9]/g,'');"><br>
			<input class="login_text" type="password" name="password" minlength="8" placeholder="パスワード（8文字以上）"><br>
			<input class="login_text" type="text" name="cardNo" placeholder="クレジットカード情報登録" maxlength="16" oninput="this.value=this.value.replace(/[^0-9]/g,'');"><br>
			<input class="login_text" type="text" name="code" placeholder="セキュリティコード"><br>
			<input class="login_text" type="text" style="width: 80px;" name="expiry" placeholder="月">
			<a>/</a>
			<input class="login_text" type="text" style="width: 80px;" name="expiry" placeholder="年(下二桁)"><br>
			<p>アイコンの写真選択</p><input type="file" name="image" placeholder="アイコンの写真"><br>
<!--			<input type="password" name="password_confirm" placeholder="パスワード(確認）"><br>-->
			<button class="login_button">送信</button>
			
			<ul th:if="${errors}" class="error">
						    <li th:each="error : ${errors}" th:text="${error}"></li>
		</form>
		
		<a href="/login">ログイン</a>
		</div>
		</div>
</body>
</html>