<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>新規登録</title>
<link rel="stylesheet" type="text/css" href="/css/Jung.css">
</head>
<body>
	<span th:replace="header2">
	</span>
	
		<div class="login-container">
		<div class="form-group">
		<h2>新規登録</h2>
		
			</ul>
		
		<form class="login_text" action="/user/add" method="post">
			<input type="text" name="name" th:value="${name}" placeholder="名前"><br>
			<input type="email" name="email" th:value="${email}" placeholder="メールアドレス"><br>
			<input type="text" name="address" th:value="${address}" placeholder="住所"><br>
			<input type="text" name="tel" th:value="${tel}" placeholder="電話番号" maxlength="11" oninput="this.value=this.value.replace(/[^0-9]/g,'');"><br>
			<input type="password" name="password" minlength="8" placeholder="パスワード（8文字以上）"><br>
			<input type="text" name="cardNo" placeholder="クレジットカード情報登録" maxlength="16" oninput="this.value=this.value.replace(/[^0-9]/g,'');"><br>
			<input type="text" name="code" placeholder="セキュリティコード"><br>
			<input type="text" style="width: 80px;" name="expiry" placeholder="月">
			<a>/</a>
			<input type="text" style="width: 80px;" name="expiry" placeholder="年(下二桁)"><br>
<!--			<p>アイコンの写真選択</p>-->
<!--			    <input type="file" name="image"><br>-->

<!--			    <h2>アップロードした画像の表示</h2>-->
<!--			    <img alt="" th:src="${imageUrl}" style="width: 300px;">	-->
<!--				<button class="login_button" name="imagebtn" th:value="btn">画像確認</button>-->
			    <br>
			<button class="login_button">送信</button>
			
			<ul th:if="${errors}" class="error">
			<li th:each="error : ${errors}" th:text="${error}"></li>
			</ul>
		</form>
		<br>
		
		<a href="/login">ログイン</a>
		</div>
		</div>
</body>
</html>